<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="fundo">
  <ion-card color="grass">
    <ion-card-header>
      <img
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
      />

      <ion-badge color="grass">#001</ion-badge>

      <ion-card-title>Bulbasaur</ion-card-title>

      <ion-badge color="grass">grass</ion-badge>

      <ion-badge color="poison">poison</ion-badge>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png"
      />

      <ion-badge color="fire">#004</ion-badge>

      <ion-card-title>Charmander</ion-card-title>

      <ion-badge color="fire">fire</ion-badge>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png"
      />

      <ion-badge color="water">#007</ion-badge>

      <ion-card-title>Squirtle</ion-card-title>

      <ion-badge color="water">water</ion-badge>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png"
      />

      <ion-badge color="electric">#025</ion-badge>

      <ion-card-title>Pikachu</ion-card-title>

      <ion-badge color="electric">electric</ion-badge>
    </ion-card-header>
  </ion-card>
</ion-content>
