<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="fundo">
  <ion-card color="grass" *ngFor="let pokemon of listaPokemon">
    <ion-card-header>
      <img
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
      />

      <ion-badge color="grass">#001</ion-badge>

      <ion-card-title>{{ pokemon['name'] | titlecase}}</ion-card-title>

      <ion-badge color="grass">grass</ion-badge>

      <ion-badge color="poison">poison</ion-badge>
    </ion-card-header>
  </ion-card>
</ion-content>
